/* ----------
レスポンシブデザイン
----------*/
@media (max-width: 767px) {

  .requestbox li{
    font-size: 102%;
  }
  #text {
    width :90%;
  }
  #top-logo {
    width: 20%;
  }
  .responsive-mg{
    margin-bottom: 10px;
  }
}